* {
    margin: 0;
    padding: 0;
}


.mainDiv {
    text-align: center;
    margin-bottom: 30px;
    padding: 20px;
    
    border-radius: 10px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}

html {
    font-family: poppins, Segoe UI, sans-serif;
    font-size: 12pt;
    color: var(--text-color);
    text-align: center;
}



.container-wrapper {
    box-sizing: border-box;
    background-color: var(--base-color);
    height: 600px;
    width: max(40%, 600px);
    /* width: 500px; */
    padding: 10px;
    margin-left: 30%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}

form {
    width: min(400px, 100%);
    margin: top 30px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

form :not(.form-check-label)>div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}





/* Checkbox size */
.form-check-input {
    width: 0.9rem;
    /* smaller size */
    height: 0.9rem;
    margin: 0;
    border: 2px solid #aaa;
    /* light grey border */
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.submitBtn {
    background: linear-gradient(135deg, #e08d79 0%, #ce7d04 100%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    border: none;
}


form input {
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border: 2px solid var(--input-color);
    border-left: none;
    background-color: var(--input-color);
    transition: 150ms ease;
}

form input:hover {
    border-color: var(--accent-color);
}

form input:focus {
    outline: none;
    border-color: var(--text-color);
}

div:has(input:focus)>label {
    background-color: var(--text-color);
}

form input::placeholder {
    color: var(--text-color)
}



/* Input + label container */
form:not(.form-check-label)>div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}


@media(max-width: 1100px) {
    .container-wrapper {
        width: min(600px, 80%);
        border-radius: 0;
        margin-left: 10%;
    }
}
